<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категорії</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{navbar}"></div>
<div class="container">
    <h1>Категорії</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Айди</th>
            <th>Назва категорії</th>
            <th>Назва блюда</th>
            <th>Опис блюда</th>
            <th>Ціна</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${category}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.category_name}"></td>
            <td th:text="${c.menu_item_name}"></td>
            <td th:text="${c.description}"></td>
            <td th:text="${c.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


