<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">Головна</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/menu}">Меню</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/new_order}">Створити нове замовлення</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tables_status}">Вільні столики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/salary}">Зарплата</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/category}">Категорії</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orders_view}">Всі замовлення</a>
            </li>
        </ul>
    </div>
</nav>